*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@font-face {
  src: url("../fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/museosanscyrl-900.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: normal;
}

.header {
  margin: 0 auto;
  padding: 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
}

.header__wrapper {
  margin: 0 auto;
  padding: 40px 0 46px;
  max-width: 1200px;
  background-color: #93bbea;
  background-image: url("../img/airplanes.png"), url("../img/hand.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left -12px top 37px, right -92px bottom -92px;
  border-radius: 40px;
}

.header__headline {
  margin: 0 0 5px 0;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.header__description {
  margin: 0 auto 40px;
  max-width: 535px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 664px;
  list-style: none;
}

.header__menu-item {
  margin: 0 8px 8px 0;
}

.header__menu-item:nth-child(4n + 4) {
  margin: 0 0 8px 0;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 160px;
  height: 48px;
  font-size: 15px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  border-radius: 12px;
}

.header__menu-link svg {
  margin: 0 8px 0 0;
}

.header__menu-link:hover, .header__menu-link:focus {
  color: #36ba5f;
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
}

.header__menu-link:hover path,
.header__menu-link:focus path {
  fill: #36ba5f;
}

.header__menu-link:active {
  color: #1a1a1a;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__menu-link:active path {
  fill: #1a1a1a;
}

@media (max-width: 1280px) {
  .header {
    padding: 30px;
  }
}

@media (max-width: 780px) {
  .header {
    padding: 20px;
  }
  .header__menu {
    width: 328px;
  }
  .header__menu-item {
    margin: 0 8px 8px 0;
  }
  .header__menu-item:nth-child(2n + 2) {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 640px) {
  .header__wrapper {
    padding: 40px 30px 46px 30px;
  }
}

@media (max-width: 480px) {
  .header__headline {
    font-size: 50px;
  }
}

@media (max-width: 435px) {
  .header__menu {
    width: 160px;
  }
  .header__menu-item {
    margin: 0 0 12px 0;
  }
  .header__menu-item:nth-child(2n + 2) {
    margin: 0 0 12px 0;
  }
}

@media (max-width: 390px) {
  .header__headline {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .header__wrapper {
    padding: 30px 20px 36px 20px;
  }
}

.social {
  margin: 0 auto;
  padding: 42px 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 700;
  color: #1a1a1a;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 42px 26px 42px 40px;
  max-width: 996px;
  border-radius: 40px;
  -webkit-box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.05);
}

.social__headline {
  margin: 0 0 16px 0;
  font-size: 15px;
}

.social__to-action {
  margin: 0;
  font-size: 40px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 490px;
  list-style: none;
}

.social__list-item {
  margin: 7px 14px 7px 0;
}

.social__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  background: #f9f9f9;
  border-radius: 13px;
}

.social__list-link:hover, .social__list-link:focus {
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
}

.social__list-link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.social__list-link:hover path,
.social__list-link:focus path {
  fill: #5992e8;
}

@media (max-width: 1280px) {
  .social {
    padding: 32px 30px;
  }
}

@media (max-width: 930px) {
  .social__wrapper {
    padding: 42px 40px;
  }
  .social__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 196px;
  }
  .social__list-item {
    margin: 7px 0;
  }
}

@media (max-width: 780px) {
  .social {
    padding: 22px 20px;
  }
}

@media (max-width: 690px) {
  .social__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 42px 40px 42px 40px;
  }
  .social__headline {
    text-align: center;
  }
  .social__to-action {
    margin: 0 0 25px 0;
    text-align: center;
  }
  .social__list {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .social__to-action {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .social__wrapper {
    padding: 42px 20px;
  }
}

@media (max-width: 380px) {
  .social__wrapper {
    padding: 32px 20px;
  }
}

@media (max-width: 350px) {
  .social__headline {
    margin: 0 0 16px 0;
    font-size: 12px;
  }
  .social__to-action {
    font-size: 25px;
  }
}

.questions {
  margin: 0 auto;
  padding: 38px 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
}

.questions__headline {
  margin: 0 0 32px 0;
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
}

.questions__slider {
  position: relative;
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.questions__slide {
  margin: 0 24px 0 0;
  padding: 16px;
  width: 282px;
  height: 160px;
  text-decoration: none;
  border-radius: 16px;
  outline: none;
  background-color: rgba(89, 146, 232, 0.4);
  overflow: hidden;
}

.questions__slide:last-child {
  margin: 0;
}

.questions__slide:hover, .questions__slide:focus {
  background-color: rgba(89, 146, 232, 0.3);
}

.questions__slide:active {
  background-color: rgba(89, 146, 232, 0.4);
}

.questions__slide--bg {
  background-image: url("../img/bag.png");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.questions__slide--bg .questions__question,
.questions__slide--bg .questions__answer {
  max-width: 140px;
}

.questions__question {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #1a1a1a;
}

.questions__answer {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #949494;
}

.questions__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 -10px 0 0;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.slick-arrow:hover, .slick-arrow:focus {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}

.slick-arrow:active {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
  opacity: 0.9;
}

.slick-prev {
  left: -54px;
  background-image: url("../img/arrow-left.svg");
}

.slick-next {
  right: -54px;
  background-image: url("../img/arrow-right.svg");
}

.slick-disabled {
  opacity: 0.3;
  cursor: default;
}

.slick-disabled:hover, .slick-disabled:focus {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.09);
}

.slick-disabled:active {
  opacity: 0.3;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.slick-dots li {
  margin: 0 10px 0 0;
}

.slick-dots button {
  padding: 0;
  width: 7px;
  height: 7px;
  font-size: 0;
  background: #e2d7c9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slick-active button {
  background: #36ba5f;
}

@media (max-width: 1340px) {
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
}

@media (max-width: 1280px) {
  .questions {
    padding: 32px 30px;
  }
  .questions__slider {
    margin: 0 auto;
    width: 894px;
  }
  .slick-prev {
    left: -54px;
  }
  .slick-next {
    right: -54px;
  }
}

@media (max-width: 1070px) {
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
}

@media (max-width: 955px) {
  .questions__slider {
    margin: 0 auto;
    width: 588px;
  }
  .slick-prev {
    left: -54px;
  }
  .slick-next {
    right: -54px;
  }
}

@media (max-width: 780px) {
  .questions {
    padding: 22px 20px;
  }
}

@media (max-width: 740px) {
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
}

@media (max-width: 628px) {
  .questions__slider {
    margin: 0 auto;
    width: 282px;
  }
  .slick-prev {
    left: -54px;
  }
  .slick-next {
    right: -54px;
  }
}

@media (max-width: 480px) {
  .questions__headline {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .questions__headline {
    font-size: 25px;
  }
}

.reference {
  margin: 0 auto;
  padding: 43px 40px 68px 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
}

.reference__list {
  margin: 0 auto;
  padding: 0;
  max-width: 996px;
  list-style: none;
}

.reference__item {
  margin: 0 0 12px 0;
}

.reference__link {
  display: block;
  padding: 20px 0 20px 24px;
  text-decoration: none;
  border-radius: 16px;
  background-image: url("../img/arrow-right-gray.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}

.reference__link:hover, .reference__link:focus {
  background-image: url("../img/arrow-right.svg");
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.reference__link:active {
  background-image: url("../img/arrow-right-gray.svg");
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}

.reference__link--desc .reference__theme {
  margin: 0 0 4px 0;
}

.reference__headline {
  margin: 0 0 32px 0;
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
}

.reference__theme {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
}

.reference__description {
  margin: 0;
  max-width: 380px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 500;
  color: #949494;
}

@media (max-width: 1280px) {
  .reference {
    padding: 33px 30px 58px 30px;
  }
}

@media (max-width: 780px) {
  .reference {
    padding: 23px 20px 48px 20px;
  }
}

@media (max-width: 490px) {
  .reference__link {
    padding: 20px 40px 20px 24px;
  }
  .reference__link--desc .reference__theme {
    margin: 0;
  }
  .reference__description {
    display: none;
  }
}

@media (max-width: 480px) {
  .reference__headline {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .reference__headline {
    font-size: 25px;
  }
}
