*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@font-face {
  src: url("../fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/museosanscyrl-900.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: normal;
}

.header {
  margin: 0 auto;
  padding: 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
}

.header__wrapper {
  padding: 40px 0 46px;
  width: 100%;
  background-color: #93bbea;
  background-image: url("../img/airplanes.png"), url("../img/hand.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left -12px top 37px, right -92px bottom -92px;
  border-radius: 40px;
}

.header__headline {
  margin: 0 0 5px 0;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.header__description {
  margin: 0 auto 40px;
  max-width: 535px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 664px;
  list-style: none;
}

.header__menu-item {
  margin: 0 8px 8px 0;
}

.header__menu-item:nth-child(4n + 4) {
  margin: 0 0 8px 0;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 160px;
  height: 48px;
  font-size: 15px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  border-radius: 12px;
}

.header__menu-link svg {
  margin: 0 8px 0 0;
}

.header__menu-link:hover, .header__menu-link:focus {
  color: #36ba5f;
}

.header__menu-link:hover path,
.header__menu-link:focus path {
  fill: #36ba5f;
}

.header__menu-link:active {
  color: #1a1a1a;
}

.header__menu-link:active path {
  fill: #1a1a1a;
}

@media (max-width: 1280px) {
  .header {
    padding: 30px;
  }
}

@media (max-width: 780px) {
  .header {
    padding: 20px;
  }
  .header__menu {
    width: 328px;
  }
  .header__menu-item {
    margin: 0 8px 8px 0;
  }
  .header__menu-item:nth-child(2n + 2) {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 640px) {
  .header__wrapper {
    padding: 40px 30px 46px 30px;
  }
}

@media (max-width: 480px) {
  .header__headline {
    font-size: 50px;
  }
}

@media (max-width: 435px) {
  .header__menu {
    width: 160px;
  }
  .header__menu-item {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 390px) {
  .header__headline {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .header__wrapper {
    padding: 30px 20px 36px 20px;
  }
}
