@font-face {
  src:
    url("../fonts/museosanscyrl-900.woff2") format("woff2"),
    url("../fonts/museosanscyrl-900.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src:
    url("../fonts/museosanscyrl-500.woff2") format("woff2"),
    url("../fonts/museosanscyrl-500.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src:
    url("../fonts/museosanscyrl-500.woff2") format("woff2"),
    url("../fonts/museosanscyrl-500.woff") format("woff");
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: normal;
}
