.social {
  margin: 0 auto;
  padding: 42px 40px;
  min-width: 320px;
  max-width: 1280px;
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 700;
  color: #1a1a1a;
}

.social__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 42px 26px 42px 40px;
  max-width: 996px;
  border-radius: 40px;
  box-shadow: 0 20px 60px 0 rgba(#000000, 0.05);
}

.social__headline {
  margin: 0 0 16px 0;
  font-size: 15px;
}

.social__to-action {
  margin: 0;
  font-size: 40px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 490px;
  list-style: none;
}

.social__list-item {
  margin: 7px 14px 7px 0;
}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: #f9f9f9;
  border-radius: 13px;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px -3px rgba(#000000, 0.2);
  }

  &:active {
    box-shadow: none;
  }

  &:hover path,
  &:focus path {
    fill: #5992e8;
  }
}

@media (max-width: 1280px) { // !
  .social {
    padding: 32px 30px;
  }
}

@media (max-width: 930px) {
  .social__wrapper {
    padding: 42px 40px;
  }

  .social__list {
    justify-content: space-between;
    width: 196px;
  }

  .social__list-item {
    margin: 7px 0;
  }
}

@media (max-width: 780px) { // !
  .social {
    padding: 22px 20px;
  }
}

@media (max-width: 690px) {
  .social__wrapper {
    flex-direction: column;
    padding: 42px 40px 42px 40px;
  }

  .social__headline {
    text-align: center;
  }

  .social__to-action {
    margin: 0 0 25px 0;
    text-align: center;
  }

  .social__list {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .social__to-action {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .social__wrapper {
    padding: 42px 20px;
  }
}

@media (max-width: 380px) {
  .social__wrapper {
    padding: 32px 20px;
  }
}

@media (max-width: 350px) {
  .social__headline {
    margin: 0 0 16px 0;
    font-size: 12px;
  }

  .social__to-action {
    font-size: 25px;
  }
}